[package]
name = "zerus"
version = "0.3.0"
edition = "2021"
authors = ["wcampbell"]
description = "Lightweight binary to download only project required crates for offline crates.io mirror"
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://github.com/wcampbell0x2a/zerus"
repository = "https://github.com/wcampbell0x2a/zerus"

[dependencies]
clap = { version = "4.0.0", features = ["derive"] }
reqwest = { version = "0.11.11", default-features = false, features = ["blocking", "rustls-tls"] }
anyhow = "1.0.58"
guppy = "0.15.1"

[profile.release]
strip = true
